@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Commissioner', 'montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #f4f4f4;
}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 270vh;
    margin: auto;
}

.header{
    width: 100%;
    height: 22%;
    color: #fff;
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center center;

}

.nav-bar{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav > p{
    padding: 0 10px;
    font-weight: 800;
}
.main{
    width: 50%;
    margin: auto;
    margin-top: -80px;
}

.card-1{
    
    background-color: #fff;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    
}

.log{
    margin-top: -1.5rem;
}

.log img{
    width: 50px;
    height: 50px;
}
.card-title{
    text-align: center;
}

.card-title h2{
    font-weight: bold;
    padding: 1rem;
}

.card-title p{
    color: hsl(0, 0%, 48%);
    font-weight: 500;
    padding: 0 0 5px 0;
}

.card-buttons{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.button-1{
    font-family: inherit;
    font-weight: 800;
    color: #fff;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 50px;
    background-color:  hsl(176, 72%, 28%);
}

.bookmark{
    height: 2.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:  hsl(0, 3%, 75%);
    border-radius:50px;
    
}

.bookmark img{
    width: 42px;
    height: 42px;
    margin-top: 3px;
       
}

.bookmark p{
    font-weight: 800;
    color:  hsl(176, 72%, 28%);
    font-size: 13px;
    padding: 0 25px 0 10px;
    

}

.card-2{
    margin-top: 1.6rem;
    background-color: #fff;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 10px;
    
    transition: 0.3s ease-in-out;
}

.card-2:hover, .card-1:hover{
    box-shadow: 2px 2px #d6d4d4;
}

.inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}



.card-2 p{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.progressbar{
    width: 100%;
}

.p-outter{
    width: 80%;
    height: 0.5rem;
    border-radius: 20px;
    margin: auto;
    background-color:  hsl(0, 3%, 75%); 
}

.p-inner{
    width: 80%;
    height: 0.5rem;
    border-radius:20px ;
    background-color: hsl(176, 50%, 47%);
}

.aside{
    background-color: #fff;
    padding: 3.5rem;
    margin-top: 1.6rem;
    border-radius: 10px;

}

.card-section{
    margin-top: 1.6rem;
}
.cards{
    border: 1px solid hsl(0, 3%, 75%);
    border-radius: 5px;
    padding: 2rem;
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card-header small{
    color: hsl(176, 50%, 47%);
    font-weight: 600;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.left p{

    font-weight: bolder;
    font-size: 1.4rem;
}

.left small{
    padding:0.5rem;
}

.card-btn{
    font-size: 0.7rem;
}

.card-btn-2{
    background-color: hsl(0, 0%, 48%);
}
.out{
    opacity: 0.5;
}

@media(max-width:967px){
    .bookmark p{display: none;}

    .main{
        width: 80%;
        margin: auto;
        margin-top: 40px;
    }


    .card-1{
    
        background-color: #fff;
        width: 100%;
        height: 16rem;
       
        
    }

    .card-1 p{
        padding: 20px;
    }

   
    .card-buttons{
        width: 50%;
        margin: auto;
       
    }

    .nav-bar{
        width: 95%;
        margin: auto;
       
    }


}

@media(max-width:375px){}











